/*MEDIA QUERIES*/
/*---xl---*/
@media screen and (max-width: 1200px) {
}

/*---lg---*/
@media screen and (max-width: 992px) {
	.aside .tools .tools-settings #uploadFile {
		width: 100%;
	}
}
@media screen and (max-width: 980px) {
	.aside .header h1 {
		font-size: 34px;
	}
}
@media screen and (max-width: 890px) {
	.aside .header h1 {
		font-size: 30px;
	}
}

/*---md---*/
@media screen and (min-width: 770px) {
	.aside .tools {
		display: block;
	}
	.aside .toggle {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	body {
		overflow-y: visible;
	}
	.aside {
		height: auto;
	}
	.aside .tools {
		display: none;
	}
	.aside .tools .tools-settings #uploadFile {
		width: auto;
	}
	.aside .toggle {
		display: block;
	}
}
@media screen and (max-width: 650px) {
	.aside .toggle {
		right: 30px;
	}
	.section {
		padding: 30px;
	}
}

/*---sm---*/
@media screen and (max-width: 576px) {
}