/*GENERAL*/
body {
	padding-bottom: 50px;
	overflow-x: hidden;
}


/*HEADER*/
.header {
	padding: 40px 0;
}


/*TOOLS*/
.tools {
	position: absolute;
}
.tools .tools-left {
	text-align: right;
}
.tools .tools-right {
	text-align: left;
}
.tools .tools-left > .row , .tools .tools-right > .row  {
	margin: 5px;
	padding: 10px;
}
.tools .tools-left > .row > * , .tools .tools-right > .row > *  {
	border-top: 1px solid #666;
	padding-bottom: 8px;
	padding-top: 8px;
}
.tools .tools-left > .row > *:last-child , .tools .tools-right > .row > *:last-child {
	border-bottom: 1px solid #666;
}
.tools .tools-left > .row > *:hover , .tools .tools-right > .row > *:hover {
	background-color: #f2f2f2;
}
.tools #uploadFile {
	width: 100%;
}


/*CANVAS*/
#container-canvas {
	display: block;
	float: none;
	height: 70vh;
	margin: 0 auto;
}

#container-canvas #canvas {
	border: 1px solid #000;
}


/*CUSTOM CLASSES*/
.active {
	background-color: #ccc;
}